<div class="signup-container">
  <div class="signup-form">

    <form class="signup"  [formGroup]="formSignup">
      <h2 class="signup__header"><strong> Signup</strong></h2>
      <div class="signup__body">
        <!-- EMAIL -->
        <mat-form-field class="signup__input" appearance="fill" >
          <mat-label> <mat-icon>mail</mat-icon> Email </mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
          />
        </mat-form-field>
        <!-- USERNAME -->
        <mat-form-field class="signup__input" appearance="fill" >
          <mat-label> <mat-icon>person</mat-icon> Username </mat-label>
          <input
            matInput
            formControlName="username"
          />
        </mat-form-field>
        <!-- PASSWORD -->
        <mat-form-field class="signup__input" appearance="fill">
          <mat-label> <mat-icon>no_encryption</mat-icon> Contraseña </mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            class="button-password"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>

        </mat-form-field>
      </div>
      <div class="signup__footer" >


        <button
          [disabled]="formSignup.invalid"
          class="btn btn-primary"
          type="submit"
          routerLink="/"
          (click)="signup(formSignup.value)"
        >
          Ingreso
        </button>
        <a class="is-centered__register" routerLink="/">Regresar al login</a>
      </div>
    </form>


  </div>
</div>
