<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div [class]="titulo === 'Error'?'modal-header p-3 mb-2 bg-danger text-white':'modal-header p-3 mb-2 bg-success text-white'">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <h2 class="modal-body">
        {{message}}
      </h2>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/">Ir al login</button>
      </div>
    </div>
  </div>
</div>
