<section class="m-5 w-75">
  <h2>Añadir nuevo pago</h2>
  <div class="card">
    <div class="card-body">
      <input type="text" placeholder="Nombre" class="form-control m-3">
      <input type="text" placeholder="Prefijo" class="form-control  m-3">
      <input type="text" placeholder="URL Logo" class="form-control  m-3">
      <button class="btn btn-primary">Añadir</button>
    </div>
  </div>
</section>
<section class="m-5 w-75">
  <h2>Añadir nuevo pago</h2>
  <div class="card">
    <div class="card-body">
      <input type="text" placeholder="Servicio" class="form-control m-3">
      <input type="text" placeholder="Nombre" class="form-control m-3">
      <input type="text" placeholder="Prefijo" class="form-control  m-3">
      <input type="text" placeholder="URL Logo" class="form-control  m-3">
      <button class="btn btn-primary">Modificar</button>
    </div>
  </div>
</section>

